body{
  background: rgb(23,201,247);
background: linear-gradient(180deg, rgba(23,201,247,1) 0%, rgba(0,35,255,0.9389005602240896) 98%);
background-repeat:no-repeat;
min-height: 150vh;
}
input{
  border-radius: 6px;
}
button{
  background-color: #04AA6D;
  padding:10px;
  border-radius: 18px;
  color: white;
  border: 3px solid rgb(23,201,247);
}